<% layout('boilerplate') -%>

<h1>Welcome to Buy Buy Shop!</h1>

<p>Starting point is here</p>

<p>Sign up to start buying</p>
<h3>Start your search here</h3>

<p>Best Prices Guaranteed</p>

<h3>Looking for something that isn't here?</h3>
<p>This will appear across the site as you add to your cart</p>

<h3>Build a smart cart</h3>
<p>The more you buy, the more you save :) </p>
